#navbar{
	width: auto;
	height: 150px;
	background-color: #2d4989;
	margin: 20px;
	text-align: center;
}

#logo{
	font-size: 150px;
	color: white;
	width: 100%;
	margin: 0 auto;
 	vertical-align: middle;
 	line-height: 150px;
}

#graphs{
	float:left;
	margin-left: -150px;
}

#map {
	float:left;
	margin-left: 50px;
/*	width: 840px; 
	height: 600px;*/
	/* Set rules to fill background */
  min-height: 600px;
  min-width: 1000px;
  background-color: #e6ba64;

  /* Set up proportionate scaling */
/*  width: 45%;
  height: 100%;*/

  /* Set up positioning */
}

#sidebar{
	float: left;
	padding-left: 20px;
	margin-top: -20px;
}

#submit-button{
	height: 100px;
	width: 400px;
	font-size: 50px;
}

#state-list{
	height: 100px;
	width: 150px;
	font-size: 50px;
}

#graph-label{
	margin-left: -100px;
	text-align: center;
	margin-right: 30px;
	font-size: 30px;
	color: #2d4989;
}

.state-stats{
	width: 300px; 
	height: 500px;
	background-color: rgba(143,125,198,.8);
	text-align: center;
	border-color: #4528fc;
	color: #210f5b;
}

.state-ranks{
	width: 300px; 
	height: 350px;
	background-color: rgba(100,189,189,.8); 
	text-align: center;
	border-color: #1f7a7a;
	color: #006161;
}

.state-names{
	color: white;
}

.state-titles{
	font-size: 25px;
}

.state-numbers{
	margin-top: -10px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	border-radius: 100px;
	height: auto;
	width: 150px;
	text-align: center;
	vertical-align: center;
	font-size: 30px;
}

#total-contrib{
	margin-left: 30px;
	width: 250px;
}

.averages{
	margin-top: -10px;
	font-size: 25px;
}

.last-averages{
	margin-top: 0px;
	font-size: 25px;
}

.rank-div{
	margin-top: -10px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	border-radius: 100px;
	height: 50px;
	width: 50px;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	vertical-align: center;
}

.rank-text{
	padding-top: 12px;
	font-size: 30px;
}

.top-rank{
	margin-top: -30px;
}
/*#local-div{
	width: 200px; 
	height: 200px;
}*/

#map-totals{
	float: left;
}

#top{
	clear: both;
	width: auto;
	height: 400px;
	text-align: center;
}

#total{
	margin: auto 1.5em;
	display: inline-block;
}

#average{
	margin: auto 1.5em;
	display: inline-block;
}

#percent{
	margin: auto 1.5em;
	display: inline-block;
}