<div id="navbar">
  <div id="logo"></div>
  <div id="compare"><a href="#map"></a></div>
  <div id="rank"><a href="#top"></a></div>
  <div id="give"><a href="#charities"></a></div>
</div>

<div id="clicked-state"></div>

<div id="sidebar">
  <div id="data-div"></div>
  <div id="local-div"></div>
</div>

<div id="map"></div>

<div id="graphs"></div>
<div id="volume-wrapper">
  <h2 id="current-volume"></h2>
</div>

<div id="top">
  <div id="total">
    <h2>Total Contribution</h2>
    <ol id="total-list">
      <li id="total-1"></li>
      <li id="total-2"></li>
      <li id="total-3"></li>      
      <li id="total-4"></li>
      <li id="total-5"></li>
    </ol>
  </div>
  <div id="average">
    <h2>Average Household Contribution</h2>
    <ol id="average-list">
      <li id="average-1"></li>
      <li id="average-2"></li>
      <li id="average-3"></li>      
      <li id="average-4"></li>
      <li id="average-5"></li>
    </ul>
  </div>
  <div id="percent">
    <h2>Contribution as a Percent of Income</h2>
    <ol id="percent-list">
      <li id="percent-1"></li>
      <li id="percent-2"></li>
      <li id="percent-3"></li>      
      <li id="percent-4"></li>
      <li id="percent-5"></li>
    </ol>
  </div>
</div>
  
<form id="form" action="" onsubmit="return(validate());" name="myForm">

  <div>How Charitab.ly is your state Living? 
   <select id="state-list">
   </select>
  </div>

  <input id="submit-button" type="submit" value="Submit">
</form>




